export SAMSUNG_WALLET_PARTNER_ID="your_partner_id"
export SAMSUNG_WALLET_PARTNER_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----..."
export SAMSUNG_WALLET_SAMSUNG_PUBLIC_KEY="-----BEGIN CERTIFICATE-----..."
export SAMSUNG_WALLET_CERTIFICATE_ID=""
export SAMSUNG_WALLET_EVENT_TICKET_CARD_ID=""